* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: rgb(187, 184, 184);
}

a {
    text-decoration: none;
}

p {
    margin-top: 8px;
}

body {
    background-color: rgb(20, 19, 19);
}


/*,,,,,,,,,,,,,,,beginning of nav code,,,,,,,,,,,,,,,,,,,*/
.container {
    background-color: black;
    text-transform: uppercase;
    width: 100%;
    height: 100px;

}

.logo img {
    display: block;
    margin: 0 auto;
    padding: 10px;

}

header .container {
    position: fixed;

}

.left-link ul {
    display: block;
    margin: 0 auto;
    width: fit-content;
}

nav ul li {
    display: inline-block;
    padding: 5px;
}

.button {
    display: none;

}

.logotop {
    display: none;
}

/*,,,,,,,,,,,,,,,,,,,,end of nav code,,,,,,,,,,,,,,,,,,,,,,*/



/*,,,,,,,,,,,,,,,,,,,,start of main content,,,,,,,,,,,,,,,,,,,,,,*/
.wrapper {
    width: 80%;
    margin: 0 auto;
    padding-top: 10px;
}

.wrap-div {
    margin-top: 10px;
}


.text-img {
    display: block;
    width: 50%;
    float: right;
    line-height: 34px;


}


.text-img h6 {
    margin: 30px 0 0 20px;
    font-size: 15px;
    font-weight: 100;
    padding-bottom: 15px;
    color: rgb(29, 221, 189);
}

.text-img h1 {
    margin: 10px 0 0 20px;

}

.text-img span {
    color: rgb(29, 221, 189);
}

article {
    padding-top: 20px;
}



.about {
    display: block;
    margin: 80px 0;
    height: 100%;
    background-color: white;
    padding: 10px 10px;
}

.about-wrap span {
    color: aqua;
}

.img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

.about h4 {
    color: black;
    font-size: large;
    line-height: 30px;
}

.about h2 {
    color: black;
    font-size: 40px;
    font-weight: 700;
    margin-top: 10px;
    padding-top: 20px;
    text-align: center;
}

.about p {
    color: black;
    font-weight: bold;
}

/*,,,,,,,,,,,,,,,,end of main content,,,,,,,,,,,,,,,,,,,,,,,*/



/*,,,,,,,,,,,,,,,,,,,start of footer,,,,,,,,,,,,,,,,,,,,,,*/
.down1 {
    margin: 20px 0;
}

.down1 h2 {
    text-align: center;
    color: rgb(29, 221, 189);
}

.down1 p {
    text-align: center;
}

.footer-box1 img {
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;

}

.footer-box1 h2 {
    padding-bottom: 0;
    text-align: center;
    color: black;
}

.footer-box1 {

    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: white;
    width: 80%;

}

.footer-box1 p {
    font-weight: 900;
    color: black;
    text-align: center;
    padding-bottom: 20px;

}


.logofooter {
    width: 50%;
    margin: 0 auto;
}

.logofooter img {
    justify-content: center;
    margin: 5px;
    padding: 10px 0 10px 10px;
}

center {
    margin-bottom: 20px;
}

/*,,,,,,,,,,,,,endd of footer,,,,,,,,,,,,,,,,,,,,,,,*/

/* Meddia query for tablets */

@media only screen and (min-width: 600px) {
    .conwrap {
        display: flex;
        background-color: black;
        width: 80%;
        height: 100%;
        margin: 0 auto;


    }

    .logo img {
        display: block;
        margin: 0 auto;
        margin-top: 15px;

    }

    nav ul li {
        padding-left: 10px;
        padding-top: 40px;

    }

    .button {
        display: none;

    }

    article {
        line-height: 25px;
        text-align: inherit;

    }

    .about-wrap {
        float: right;
        width: 60%;
    }

    .about-wrap span {
        color: aqua;

    }

    .clear {
        clear: both;
    }

    .about h2 {
        text-align: left;
    }

    .about-img-wrap {
        float: left;
        margin-top: 80px;
        margin-bottom: 80px;
        width: 30%;
        height: 100%;
    }

    .about-img-wrap img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 100%;

    }

    .logofooter {
        display: none;
    }

    .logotop {
        display: block;
        padding-top: 20px;
    }

    .logotop a {
        margin: 0;

    }

    .logotop img {
        width: 2em;
        margin-right: 10px;
        transition: all 0.5s ease-in-out;

    }

    .logotop img:hover {
        width: 2.2em;
    }

    .foot-wrap {
        margin-bottom: 40px;
    }


}

/* Media query for pc */
/***********************************************************************************/

@media only screen and (min-width: 1000px) {
    .conwrap {
        display: flex;
        background-color: black;
        width: 80%;
        height: 100%;
        margin: 0 auto;

    }

    .logo {
        width: 70px;
        margin-top: 20px;
    }

    .logo img {
        margin: 0;
    }

    .left-link {
        width: 100%;
        height: 100%;

    }

    .left-link ul {
        display: block;
        margin: 0%;
        padding-left: 5%;

    }


    .right-link {
        margin-top: 40px;

    }


    .button {
        display: block;
        line-height: 100%;
        height: 25px;
        background-color: aqua;
        border-radius: 5px;
    }

    .button a {
        line-height: 25px;
        color: black;
        text-decoration: none;
        padding: 15px;
    }

    .wrap-div {
        margin-top: 40px;
        overflow: hidden;
    }



    .img-float-left {
        float: left;
        width: 30%;

    }

    .img-float-left img {
        width: 100%;

    }

    .text-img h1,
    .text-img h6 {
        margin-left: 0;
    }


    .text-img {
        width: 60%;
        float: right;
        margin-left: 0;
        margin-top: 5px;

    }

    article {
        float: right;
        width: 60%;
        margin: 0;
        margin-top: 20px;

    }


    .logotop {
        display: block;

    }

    .about-wrap {
        display: block;
        margin-top: 50px;
        margin-bottom: 50px;
        padding-right: 20px;
    }

    .about-img-wrap img {
        display: block;
        margin: 0 auto;
        width: 70%;
        height: 100%;


    }

    .foot-wrap {
        width: 80%;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 40px;

    }

    .footer-box1 {
        width: 31.6%;
        float: left;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 60px;

    }

    #first {
        margin-left: 0px;
        margin-right: 2.5%;
    }

    #second {
        margin-right: 2.5%;
    }

    #last {
        margin-right: 0px;
    }


}


/*
;
--bgDark: rgb(12, 12, 12);
--white: rgb(250, 250, 250);
--secondary: rgb(0, 59, 50);
--bgLight: rgb(190, 181, 181);
*/